@font-face {
  font-family: zihunbaige;
  src: url("@/assets/fonts/font-bag/zihunbaige.ttf");
}
@font-face {
  font-family: qianming;
  src: url("@/assets/fonts/font-bag/qingming.ttf");
}
body {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: #202020;
  font-size: 14px;
  background-color: #ffffff;
  transition: all 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osz-sont-smoothing: grayscale;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  padding: 0;
  margin: 0;
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
